*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
}

.game-title{
    font-size: 50px;
    margin: 30px 0;
}

.cell[data-index='1'],.cell[data-index='3'],.cell[data-index='4']{
    position: relative;
}

.lineV{
    width: 7px;
    height: 310px;
    border-radius: 5px;
    background-color: black;
    position: absolute;
    transform: scale(0);
    transition: transform linear 0.2s;
}

.lineH{
    width: 310px;
    height: 7px;
    border-radius: 5px;
    background-color: black;
    position: absolute;
    transform: scale(0);
    transition: transform linear 0.2s;
}

.line-DRB{
    width: 7px;
    height: 420px;
    border-radius: 5px;
    background-color: black;
    position: absolute;
    transform: rotate(45deg) scale(0);
    transition: transform ease 0.2s;
}

.line-DLB{
    width: 7px;
    height: 420px;
    border-radius: 5px;
    background-color: black;
    position: absolute;
    transform: rotate(-45deg) scale(0);
    transition: transform ease 0.2s;
}

.game-board{
    background-color:aquamarine;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
    margin-bottom: 30px;
}

.cell{
    height: 100px;
    width: 100px;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
}

.cell:hover{
    background-color: #b9b9b9;
}

.status{
    font-size: 40px;
    margin-bottom: 30px;
    display: none;
}

button{
    display: inline-block;
    padding: 10px;
    background-color: greenyellow;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color linear 0.1s;
}

button:hover{
    background-color: rgb(143, 190, 49);
}

button:active{
    background-color: rgb(178, 236, 61);
}

.reset{
    display: none;
}

.winning-cells{
    background-color: rgb(180, 241, 57);
}

.winning-cells:hover{
    background-color: rgb(180, 241, 57);
}